body {
    font-family: sans-serif;
    background-color: black;
}

header {
    justify-content: space-between;
    padding:5px ;
    margin-bottom: 20px;
}

.button {
    background-color: #5b96a8;
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top:10px ;
    margin-bottom: 40px;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
}

article {
    background-color: black;
    padding: 15px;
    width: 400px;
    margin:5px ;
    color: white;
}

.article-but {
    text-decoration: none;
    background-color: grey;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: white;
    padding: ;
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}

.picture{
    background-color: white;
}
